:root {
  --max-width: 1200px;
}

/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include xl-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include sm-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include md-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include lg-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include xl-min($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include xs-max($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include sm-max($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include md-max($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include lg-max($print) {

  }
*/
/*
  Usage:
  if $print has no value, @media print won't be used
  if $print has true, @media print will be used
  @include xl-max($print) {

  }
*/
/*
  Usage:
  since word cannot work with media print, the files set the is-not-word variable globally,
  this will ensure that all print things are added in print in pdf.css and print. and all
  word things are not added within print media query.
  @include print {

  }
*/
/*
  Helpers do not use
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #f1ebe4;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  overflow-x: hidden;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

li {
  list-style-type: none;
  list-style: none;
}

input {
  border-radius: 0;
  outline: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .wrapper {
    padding: 0 20px;
  }
}

img {
  width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

.section {
  margin-bottom: 50px;
}
@media screen and (min-width: 992px) {
  .section {
    margin-bottom: 100px;
  }
}

.title {
  font-family: "Parisienne", cursive;
  font-size: 50px;
  padding-bottom: 50px;
  font-weight: lighter;
  margin: 0 auto;
  color: #5a4b2d;
}
.title.title-small {
  font-size: 40px;
}

a {
  color: unset;
}/*# sourceMappingURL=basic.css.map */