.header__img-1 {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/header-images/header-img-1.jpg");
  margin: 0 auto;
  width: 70%;
  display: block;
}

.header__img-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/header-images/header-img-2.jpg");
  position: absolute;
  right: -25%;
  top: 40%;
  transform: scale(0.4);

  @include md-min {
    top: 70%;
  }
}

.header__img-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/header-images/header-img-3.jpg");
  position: absolute;
  left: -30%;
  top: 0;
  transform: scale(0.3);

  @include md-min {
    top: -20%;
  }
}

.header__title-h1 {
  font-size: 80px;
  color: #b1a8a8;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  text-transform: uppercase;
}

.header__subtitle-h1 {
  font-size: 100px;
}

.header__title {
  position: absolute;
  bottom: 0;
  right: 0;
}
.header__bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header__text {
  color: $color-main;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}

.header__button {
  display: inline-block;
  width: auto;
  border: none;
  background: $color-main;
  color: $color-bg;
  padding: 15px 40px;
  text-transform: uppercase;
  border: 2px solid transparent;
  margin-right: 0;
  margin-left: auto;

  &:hover {
    background: $color-bg;
    border: 2px solid $color-main;
    color: $color-main;
  }
}
