.projects__composition {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: stretch;
  grid-template-areas:
    "big-img small-img-1"
    "big-img small-img-2";
    margin-left: -5px;
    margin-right: -5px;
}

.big-img {
  grid-area: big-img;
  border: 5px solid $color-bg;
}
.small-img-1 {
  grid-area: small-img-1;
  border: 5px solid $color-bg;
}
.small-img-2 {
  grid-area: small-img-2;
  border: 5px solid $color-bg;
}
