.services__cards {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  @include md-min {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
}

.services__card {
  width: 100%;
  @include md-min {
    width: calc(100% / 3);
  }
}

.services__card-img {
  aspect-ratio: 2 / 1;
  object-fit: cover;
  height: 100%;
}

.services__card-box {
  background-color: $color-main;
  color: $color-bg;
  padding: 30px 10px;
  text-align: center;
}

.services__card__description {
  text-transform: uppercase;
}
